@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
    //setting biến 
    var username = httpContextAccessor.HttpContext.Session.GetString("username");
}
<div class="text-center">
    @if(string.IsNullOrEmpty(username))
    {
        <h1 class="display-4">Welcome</h1>
    }
    else
    {
        <h1 class="display-4">Welcome @username!</h1>
    }
    
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
